{% extends 'base.html.twig' %}

{% block title %}Wordle version wish !{% endblock %}

{% block body %}

   <section class="h-screen">
       <div class="flex w-full justify-end pr-4">
           {#            <a href="{{ path('app_login', {'_locale': app.request.locale}) }}">{{ "login" | trans }}</a>#}
           {% if app.user %}
               <a class="mr-4" href="{{ path('account_create_wordle', {'_locale': app.request.locale}) }}">{{ "account.myAccount" | trans }}</a>
               <a href="{{ path('app_logout', {'_locale': app.request.locale}) }}">{{ "account.disconnect" | trans }}</a>
           {% else %}
               <a href="{{ path('app_login', {'_locale': app.request.locale}) }}">{{ "login" | trans }}</a>
           {% endif %}
       </div>
        <div class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-[90%] lg:py-0">

            <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-[#005880] border-gray-700">
                <div class="p-6 space-y-4 sm:p-8 md:space-y-6">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl">
                        {{ "home.sentence" | trans }}
                    </h1>
                    <form action="{{ path('wordle_play',{'_locale': app.request.locale, 'id' : 'id'})}}" method="get" class="space-y-4 md:space-y-6">
                        <div>
                            <input type="text" name="id" id="key" placeholder="3450" class="bg-[#008695] border border-gray-300 text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500 placeholder-white" required="">
                        </div>
                        <button type="submit" class="w-full rounded-lg px-5 text-center text-sm font-medium text-white bg-primary-600 py-2.5 hover:bg-primary-700 focus:ring-primary-300 focus:ring-primary-800 focus:outline-none focus:ring-4">{{ "home.button" | trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{# {{ encore_entry_script_tags('home') }} #}
